.fm-fw-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fm-fw-main {
    flex-grow: 1;
    margin-top: 16px;
}

.fm-fw-main.fm-fw-hidden {
    visibility: hidden;
}

.fm-fw-section {
    flex-direction: column;
    margin-bottom: 16px;
    display: none;
}

.fm-fw-section.visible {
    display: flex;
}

.fm-fw-section-header-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 8px;
}

.fm-fw-section-title {
    font-size: var(--appui-font-sizes-body-sm);
    -unity-font-definition: var(--appui-font-weights-200);
    text-transform: uppercase;
    opacity: 0.6;
}

.fm-fw-month-stepper {
    flex-grow: 1;
    justify-content: flex-end;
}

.fm-fw-container {
    flex-direction: column;
}

.fm-fw-scroll {
    flex-grow: 1;
    margin-bottom: 8px;
}

.fm-fw-empty {
    align-self: center;
    margin-top: 32px;
    opacity: 0.5;
    display: none;
}

.fm-fw-empty.visible {
    display: flex;
}

.fm-fw-expired-label {
    color: var(--appui-color-danger-700);
}
